<!-- GitHub star -->
<a href="https://github.com/3wweiweiwu/bluestone" target="_blank" aria-label="Star hexojs/hexo on GitHub"><img src="https://img.shields.io/github/stars/3wweiweiwu/bluestone?style=social" alt="Star"></a>
<!-- GitHub fork -->
<a href="https://github.com/3wweiweiwu/bluestone" target="_blank" aria-label="Fork hexojs/hexo on GitHub"><img src="https://img.shields.io/github/forks/3wweiweiwu/bluestone?style=social" alt="Fork"></a>
<!-- NPM Download -->
<a href="https://www.npmjs.com/package/bluestone" target="_blank" aria-label="Hexo on NPM"><img src ="https://img.shields.io/npm/dm/bluestone?logo=npm&style=social" alt="NPM Downloads"></a>

