layout: index
description: Bluestone is No-Code Development Platform for Web UI Automation. It's a easy, extensible and collaborative framework powered by Node.js and Puppeteer.
subtitle: No Code Web UI Automation for Pro-Coder and No-Coder.
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title No-Code
      p.intro-feature-desc Web UI Automation creation, maintennace and execution can be done via Record & Playback
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Function-Friendly
      p.intro-feature-desc Pro-coder can write Puppeteer Code function to perform complex scenario. No-coder can call function and see results from UI.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Locator-Managed
      p.intro-feature-desc No more hard-coded locator in script. Bluestone saved locator in centralized locator repo and reuse that. Pro-coder can enforce locator definition scehma by locator generator function.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Battery-Included
      p.intro-feature-desc Handle simple & complex operation in web automation including Pop-up, download, drag and drop, click and change out-of-box